<div style="width:100%; max-width:400px; max-height: 400px; margin:0 auto;">
    <svg style="border:1px solid black;" viewBox="0 0 400 400">

        <g transform="translate(100, 100)">
            <rect fill="none" height="200" stroke="black" stroke-width="5px" width="200" x="0" y="0"/>
            <circle cx="100" cy="100" fill="plum" r="100"/>
            <line stroke="black" stroke-width="5px" x1="200" x2="0" y1="0" y2="200"/>
            <line stroke="black" stroke-width="5px" x1="0" x2="200" y1="0" y2="200"/>
            <g style="font-size:18px; font-family:sans-serif">
                <text style="text-anchor:middle" x="100" y="-18">SVG is awesome!</text>
            </g>
        </g>
    </svg>
</div>
